* {
  padding: 0;
  margin: 0;
  background-color: lightslategray;
  color: white;
}
.container {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 25px;
}

.beer_card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 30px;
  margin-top: 10px;
  width: auto;
  height: auto;
  overflow-y: hidden;
  align-items: center;
  font-size: 12px;
  box-shadow: 10px 5px 5px #212121;
  background-color: lightslategray;
}

.beer_card:hover {
  transition: 500ms ease-in-out;
  transform: translate(0px, 7%);

  .beer_card__header {
    letter-spacing: 2px;
  }
}

.beer_card__header {
  margin-top: 15px;
  margin-left: 10px;
}

.beer_card__image {
  width: 45px;
}

.beer_card__description {
  text-align: center;
  padding-bottom: 8px;
  margin-top: 10px;
}

.choosed_recipe {
  border: 2px solid red;
}

.delete_btn {
  border: 2cap solid darkred;
  height: 50px;
  cursor: pointer;
  border-radius: 25px;
  background-color: red;
  display: block;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 10px;
}
.delete_btn:hover {
  background-color: #f24b4b;
  transition: 300ms ease-in-out;
}

.delete_btn:active {
  background-color: darkred;
}
